@import 'color';
@import 'typography';
@import 'theme';

$height: 150px;
$width: 150px;
$min-width: 450px;
$min-height: 150px;
$margin-left: 0 auto;

body {
  background-color: $background-color;
  color: $font-color;
  min-width: 995px;
}

main {
  height: 500px;
  margin-top: 50px;
  min-width: $min-width;
}

nav {
  background-color: #4D4DFF;
  margin: auto 25%;
  max-width: 50%;
}

aside {
  border: 1px solid $white;
  float: left;
  height: $height * 2;
  margin-top: 100px;
  position: fixed;
  width: $width;
}

footer {
  background-color: #4D4DFF;
  margin: auto 37.5%;
  max-width: 25%;
}

.overlay {
  background: black;
  bottom: 0;
  color: rgba(21,171,195,1.0);
  display: none;
  font-family: 'Bitstream Vera Sans Mono', monospace;
  height: 100%;
  left: 0;
  min-width: 995px;
  position: fixed;
  right: 0;
  text-shadow: 0 0 5px rgba(21, 171, 195, 0.7);
  top: 0;
  width: 100%;
  z-index: 2;
}

.titleHead {
  font-size: 72px;
  margin-bottom: 25px;
  margin-top: 25px;
  font-weight: bold;
}

.overlayText {
  align-content: center;
  background-color: #24c6e0;
  border-radius: 25px;
  border: 1px solid #24c618;
  box-shadow: 0 0 10px #24c6e0;
  color: black;
  font-family: 'Bitstream Vera Sans Mono', monospace;
  font-weight: bold;
  height: 100px;
  margin: auto;
  padding: 0;
  position: relative;
  text-align: center;
  top: 20px;
  width: 60%;
}

.mainPageHeader {
  background-color: rgba(36, 198, 224, 1);
  border-radius: 25px;
  border: 1px solid rgba(36, 198, 24, 1);
  box-shadow: 0 0 10px rgba(36, 198, 224, 1);
  color: black;
  font-family: 'Bitstream Vera Sans Mono', monospace;
  font-weight: bold;
  margin: 10px 20% 10px 20%;
  padding: 10px;
  text-align: center;
  width: 60%;
}

.overlayHead {
  font-size: 40px;
  margin: 10px;
  font-weight: bold;
}

.overlaySignButton {
  background-color: rgba(36, 198, 224, 1);
  border: 1px solid rgba(36, 198, 24, 1);
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(36, 198, 224, 1);
  color: black;
  cursor: crosshair;
  font-family: 'Bitstream Vera Sans Mono', monospace;
  font-size: 48px;
  font-weight: bold;
  height: 50%;
  left: 10%;
  margin: auto;
  padding: 10px;
  position: relative;
  text-align: center;
  top: 35px;
  width: 80%;
}

.overlaySignInButton {
  background-color: rgba(36, 198, 224, 1);
  border: 1px solid rgba(36, 198, 24, 1);
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(36, 198, 224, 1);
  color: black;
  cursor: crosshair;
  font-family: 'Bitstream Vera Sans Mono', monospace;
  font-size: 48px;
  font-weight: bold;
  height: 50%;
  left: 10%;
  margin: auto;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 80%;
}

.modalConfirmButton {
  background-color: rgba(36, 198, 224, 1);
  border: 1px solid rgba(36, 198, 24, 1);
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(36, 198, 224, 1);
  color: black;
}

.modalCloseButton {
  background-color: rgba(36, 198, 224, 1);
  border: 1px solid rgba(36, 198, 24, 1);
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(36, 198, 224, 1);
  color: black;
}

.signBox {
  align-content: center;
  border-radius: 25px;
  display: block;
  height: 200px;
  margin: 25px auto;
  width: 50%;
}

.overlayButton {
  color: rgba(21, 171, 195, 1);
  display: block;
  height: 100px;
  text-shadow: 0 0 5px rgba(21, 171, 195, 0.7);
  width: 300px;
}

.modal-header {
  align-content: center;
  background-color: #24c6e0;
  border-radius: 10px;
  border: 1px solid #24c618;
  box-shadow: 0 0 10px #24c6e0;
  color: black;
  font-family: 'Bitstream Vera Sans Mono', monospace;
  font-weight: bold;
  height: 50px;
  margin: auto;
  padding: 0;
  position: relative;
  text-align: center;
  top: 20px;
  width: 60%;
}

.modal-title {
  margin: auto;
  font-size: 33px;
  font-weight: bold;
  line-height: 1.42857;
}

.modal-content {
    background-clip: padding-box;
    background-color: black;
    border-radius: 6px;
    border: 1px solid #999;
    border: 1px solid rgba(36, 198, 224, 1);
    box-shadow: 0 3px 9px rgba(36, 198, 24, 1);
    outline: 0;
    position: relative;
  }

.modalAccountHeader {
  align-content: center;
  background-color: #24c6e0;
  border-radius: 10px;
  border: 1px solid #24c618;
  box-shadow: 0 0 10px #24c6e0;
  color: black;
  font-family: 'Bitstream Vera Sans Mono', monospace;
  font-weight: bold;
  height: 30px;
  margin: 25px auto;
  padding: 0;
  position: relative;
  text-align: center;
  width: 60%;
}

.fillbox {
  background-clip: padding-box;
  background-color: black;
  border-radius: 6px;
  border: 1px solid rgba(36, 198, 224, 1);
  box-shadow: 0 3px 9px rgba(36, 198, 24, 1);
  margin: auto 210px;
  outline: 0;
  position: relative;
  text-align: center;
}

.modal-body {
  margin-top: 25px;
}

.credentialEntry {
  z-index: 4;
}

.underlay {
  z-index: 1;
}

.gameEnd {
  margin-top: 25px;
}

.theGameBox {
  clear: both;
  margin-top: 100px;
  max-height: 450px;
  max-width: 450px;
  min-height: 450px;
  min-width: 450px;
  padding: 0;
}

.button {
  float: left;
}

.row {
  margin: 0 auto;
  max-width: 450px;
  min-height: $min-height;
  min-width: $min-width;
}

.topRow {
  margin-top: 50px;
}

.col-md-1 {
  float: left;
}

.col-xs-4 {
  border: 1px solid $white;
  height: $height;
  min-height: $min-height;
  position: relative;
  width: $width;
}

.col-xs-2 {
  border: 1px solid $white;
  height: $height;
  min-height: $min-height;
  width: $width;
}

.box {
  border: 1px solid $white;
}
