@import 'color';
@import 'typography';
@import 'theme';

$height: 150px;
$width: 150px;
$min-width: 450px;
$min-height: 150px;
$margin-left: 0 auto;
$min-page-width: 1201px;

body {
  background-color: $black;
  color: $font-color;
  max-width: $min-page-width;
  min-width: $min-page-width;
}

main {
  height: 500px;
  margin-top: 50px;
}

nav {
  bottom: 50px;
  height: 50px;
  margin: 10px 25%;
  max-width: 50%;
  min-width: 50%;
  position: relative;
}

aside {
  height: $height * 2;
  margin: 15% auto;
  width: $width;
}

.gitLink {
  margin: auto 46%;
}

.accountInfo {
  float: left;
}

.playButtons {
  float: right;
}

.overlay {
  background: $black;
  bottom: 0;
  color: $light-blue;
  display: none;
  font-family: $font;
  height: 100%;
  left: 0;
  min-width: 1205px;
  position: fixed;
  right: 0;
  text-shadow: $light-blue-shadow;
  top: 0;
  width: 100%;
  z-index: 2;
}

.titleHead {
  font-size: 72px;
  margin-bottom: 25px;
  margin-top: 25px;
  font-weight: bold;
}

.overlayText {
  align-content: center;
  background-color: $bright-blue;
  border-radius: 25px;
  border: $bright-green-border;
  box-shadow: $bright-blue-shadow;
  color: $black;
  font-family: $font;
  font-weight: bold;
  height: 100px;
  margin: auto;
  padding: 0;
  position: relative;
  text-align: center;
  top: 20px;
  width: 60%;
}

.mainPageHeader {
  background-color: $bright-blue;
  border: $bright-green-border;
  border-radius: 25px;
  box-shadow: $bright-blue-shadow;
  color: $black;
  font-family: $font;
  font-weight: bold;
  margin: 10px 20%;
  padding: 10px;
  text-align: center;
  width: 60%;
}

.overlayHead {
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
}

.overlaySignButton {
  background-color: $bright-blue;
  border: $bright-green-border;
  border-radius: 25px;
  box-shadow: $bright-blue-shadow;
  color: $black;
  cursor: crosshair;
  font-family: $font;
  font-size: 48px;
  font-weight: bold;
  height: 50%;
  left: 10%;
  margin: auto;
  padding: 10px;
  position: relative;
  text-align: center;
  top: 35px;
  width: 80%;
}

.overlaySignInButton {
  background-color: $bright-blue;
  border: $bright-green-border;
  border-radius: 25px;
  box-shadow: $bright-blue-shadow;
  color: $black;
  cursor: crosshair;
  font-family: $font;
  font-size: 48px;
  font-weight: bold;
  height: 50%;
  left: 10%;
  margin: auto;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 80%;
}

.modalConfirmButton {
  background-color: $bright-blue;
  border: $bright-green-border;
  border-radius: 25px;
  box-shadow: $bright-blue-shadow;
  color: $black;
}

.modalCloseButton {
  background-color: $bright-blue;
  border: $bright-green-border;
  border-radius: 25px;
  box-shadow: $bright-blue-shadow;
  color: $black;
}

.signBox {
  align-content: center;
  border-radius: 25px;
  display: block;
  height: 200px;
  margin: 25px auto;
  width: 50%;
}

.overlayButton {
  color: $light-blue;
  display: block;
  height: 100px;
  text-shadow: $light-blue-shadow;
  width: 300px;
}

.modal-header {
  align-content: center;
  background-color: $bright-blue;
  border: $bright-green-border;
  border-radius: 10px;
  box-shadow: $bright-blue-shadow;
  color: $black;
  font-family: $font;
  font-weight: bold;
  height: 50px;
  margin: auto;
  padding: 0;
  position: relative;
  text-align: center;
  top: 20px;
  width: 60%;
}

.modal-title {
  font-size: 33px;
  font-weight: bold;
  line-height: 1.42857;
  margin: auto;
}

.modal-content {
  background-clip: padding-box;
  background-color: $black;
  border: $bright-blue-border;
  border-radius: 6px;
  box-shadow: $bright-green-shadow;
  outline: 0;
  position: relative;
  }

.modalAccountHeader {
  align-content: center;
  background-color: $bright-blue;
  border: $bright-green-border;
  border-radius: 10px;
  box-shadow: $bright-blue-shadow;
  color: $black;
  font-family: $font;
  font-weight: bold;
  height: 30px;
  margin: 25px auto;
  padding: 0;
  position: relative;
  text-align: center;
  width: 60%;
}

.fillbox {
  background-clip: padding-box;
  background-color: $black;
  border: $bright-blue-border;
  border-radius: 6px;
  box-shadow: $bright-green-shadow;
  margin: auto 210px;
  outline: 0;
  position: relative;
  text-align: center;
}

.modal-body {
  margin-top: 25px;
}

.credentialEntry {
  z-index: 5;
}

.underlay {
  z-index: 1;
}

.gameEnd {
  margin-top: 25px;
}

.theGameBox {
  clear: both;
  margin-top: 100px;
  max-height: 450px;
  max-width: 450px;
  min-height: 450px;
  min-width: 450px;
  padding: 0;
}

.button {
  float: left;
  height: 50px;
  margin: 0 10px;
  width: 20%;
}

.row {
  max-width: 450px;
  min-height: $min-height;
  min-width: $min-width;
}

.statusMessage {
  background-color: $bright-blue;
  border: $bright-green-border;
  border-radius: 25px;
  box-shadow: $bright-blue-shadow;
  color: $black;
  cursor: default;
  font-family: $font;
  height: 120px;
  margin: auto;
  padding: 10px;
  position: relative;
  text-align: center;
  top: 25px;
  width: 65%;
}

.result {
  bottom: 40px;
  cursor: default;
  font-size: 48px;
  font-weight: bold;
  position: relative;
}

.col-xs-4 {
  border: $white-border;
  bottom: 500px;
  color: $black;
  cursor: crosshair;
  font-size: 108px;
  font-weight: bold;
  height: $height;
  min-height: $min-height;
  position: relative;
  text-align: center;
  text-shadow: $blue-haze;
  width: $width;
}

.pOne {
  border: $bright-green-border;
  color: $bright-blue;
  text-shadow: $bright-green-shadow;
}

.pTwo {
  border: $bright-green-border;
  color: $red;
  text-shadow: $bright-green-shadow;
}

.col-xs-2 {
  border: 1px solid $white;
  cursor: pointer;
  height: $height;
  min-height: $min-height;
  width: $width;
}

.topRowButton {
  background-color: $fade-background;
  border: $mute-blue-border;
  border-radius: 1em;
  box-shadow: $mute-blue-box-shadow;
  color: $mute-blue;
  cursor: pointer;
  display: block;
  height: 100%;
  margin-bottom: .5ex;
  text-align: center;
  text-shadow: $mute-blue-shadow;
  width: 100%;
}

.activeTurnTitle {
  background-color: $fade-background;
  border: $mute-blue-border;
  box-shadow: $mute-blue-box-shadow;
  color: $mute-blue;
  cursor: default;
  display: block;
  font-size: 15px;
  height: 20%;
  margin: 0 auto;
  text-align: center;
  text-shadow: $mute-blue-border;
  width: 100%;
}

.activeTurnSymbol {
  background-color: $fade-background;
  border: $mute-blue-border;
  box-shadow: $mute-blue-box-shadow;
  color: $bright-blue;
  cursor: default;
  display: block;
  font-size: 96px;
  height: 81%;
  margin: 0 auto;
  text-align: center;
  text-shadow: $bright-green-shadow;
  width: 100%;
  overflow: scroll;
}

.gamesCompleteTitle {
  background-color: $fade-background;
  border: $mute-blue-border;
  box-shadow: $mute-blue-box-shadow;
  color: $mute-blue;
  cursor: default;
  display: block;
  font-size: 15px;
  height: 25%;
  margin: 0 auto;
  text-align: center;
  text-shadow: $mute-blue-border;
  width: 100%;
}

.gamesCompleteInput {
  background-color: $fade-background;
  border: $mute-blue-border;
  box-shadow: $mute-blue-box-shadow;
  color: $bright-blue;
  cursor: default;
  display: block;
  font-size: 96px;
  height: 75%;
  margin: 0 auto;
  text-align: center;
  text-shadow: $bright-green-shadow;
  max-width: 100%;
  overflow: scroll;
}

.box {
  border: 1px solid $white;
}

.asideBox {
  border: $mute-blue-border;
  cursor: default;
}
