@import 'color';
@import 'typography';
@import 'theme';

$height: 150px;
$width: 150px;
$min-width: 450px;
$min-height: 150px;
$margin-left: 0 auto;

body {
  background-color: $background-color;
  color: $font-color;
}

nav {
  background-color: #4D4DFF;
}

.button {
  float: left;
}

.container {
  clear: both;
  margin-top: 100px;
}

.row {
  margin: 0 auto;
  max-width: 450px;
  min-height: $min-height;
  min-width: $min-width;
}

.col-md-1 {
  float: left;
}

.col-xs-4 {
  height: $height;
  min-height: $min-height;
  width: $width;
}

.col-md-4 {
  height: $height;
  min-height: $min-height;
  width: $width;
}

.box {
  border: 1px solid $white;
}
