$margin: 40px auto;
$max-width: 650px;
$line-height: 1.6;
$font-size: 20px;
$padding: 0 10px;
$font-size-quote: 20px;
$vertical-margin: 40px;
$heading-line-height: 1.2;
$font: 'Bitstream Vera Sans Mono', monospace;
